#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
#a. Current date and time

current_date = dt.datetime.today()
current_date

datetime.datetime(2020, 7, 29, 22, 27, 22, 541620)

In [3]:
#b. Current year

current_date.year

2020

In [4]:
#c. Month of year

current_date.month

7

In [5]:
date = pd.Series(['15-01-2020', '29-07-2020'])

In [6]:
converted_Date = pd.to_datetime(date, format='%d-%m-%Y')

In [7]:
converted_Date

0   2020-01-15
1   2020-07-29
dtype: datetime64[ns]

In [8]:
# d. Week number of the year

converted_Date.dt.week

0     3
1    31
dtype: int64

In [9]:
converted_Date.dt.weekofyear

0     3
1    31
dtype: int64

In [10]:
# e. Weekday of the week

converted_Date.dt.weekday

0    2
1    2
dtype: int64

In [11]:
# f. Day of year

converted_Date.dt.dayofyear

0     15
1    211
dtype: int64

In [12]:
# g. Day of the month

converted_Date.dt.days_in_month

0    31
1    31
dtype: int64

In [13]:
converted_Date.dt.daysinmonth

0    31
1    31
dtype: int64

In [14]:
# h. Day of week

converted_Date.dt.dayofweek

0    2
1    2
dtype: int64

#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [15]:
string = 'Jan 1 2014 2:43PM'

In [16]:
pd.to_datetime(string, format='%b %d %Y %I:%M%p')

Timestamp('2014-01-01 14:43:00')

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [17]:
Current_Date = '2015-06-22'

In [20]:
Current_date = pd.to_datetime(Current_Date, format='%Y-%m-%d')
Current_date

Timestamp('2015-06-22 00:00:00')

In [22]:
Current_date - pd.DateOffset(days=5)

Timestamp('2015-06-17 00:00:00')

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [9]:
unix= 1284105682

In [12]:
unix_converted = dt.datetime.fromtimestamp(unix)
unix_converted

datetime.datetime(2010, 9, 10, 13, 31, 22)

In [14]:
unix_converted.strftime('%Y-%m-%d %H:%M:%S')

'2010-09-10 13:31:22'

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [2]:
DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

In [3]:
DoB_converted = pd.to_datetime(DoB, format = '%d%b%y')

In [4]:
DoB_converted

0   2059-09-07
1   2055-01-01
2   2047-12-15
3   2042-07-11
dtype: datetime64[ns]

In [5]:
#today's date and year 

aaj_ki_taarik = dt.datetime.now()

In [6]:
aaj_ki_taarik

datetime.datetime(2020, 7, 29, 23, 6, 20, 544789)

In [7]:
current_year = aaj_ki_taarik.year

In [8]:
pd.Series(np.where(DoB_converted.dt.year > current_year , 
                         DoB_converted - pd.DateOffset(years=100), DoB_converted))

0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
dtype: datetime64[ns]

In [63]:
DoB_converted

array(['1959-09-07T00:00:00.000000000', '1955-01-01T00:00:00.000000000',
       '1947-12-15T00:00:00.000000000', '1942-07-11T00:00:00.000000000'],
      dtype='datetime64[ns]')

#### 6. Write a Python program to get days between two dates.

In [38]:
DoM = pd.Series(['12 21 2020', '03 11 2020'])

In [40]:
DoM_converted = pd.to_datetime(DoM, format='%m %d %Y')

In [41]:
DoM_converted

0   2020-12-21
1   2020-03-11
dtype: datetime64[ns]

In [47]:
DoM_converted[0] - DoM_converted[1]

Timedelta('285 days 00:00:00')

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [16]:
Date = "15Dec1989"

In [17]:
Date1 = pd.to_datetime(Date, format='%d%b%Y')

In [28]:
Date1.ctime()

'Fri Dec 15 00:00:00 1989'

In [37]:
print('Result:', Date1.day_name(), ',', Date1.day, Date1.month_name(), Date1.year)

Result: Friday , 15 December 1989

In [18]:
Date1.strftime('%A, %d %b %y')

'Friday, 15 Dec 89'